<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Garment</h1>
        <div style="width: 30%; margin: 25px auto;">
        <form action="/collection" method="POST" enctype="multipart/form-data">
            <div class="form-group">
               <input class=form-control type="file" name="image" accept="image/*" capture="camera">
               <!-- <input type="file" name="userPhoto" /> -->
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <select name="color">
                    <option value="Black" style="background-color: Black;color: #FFFFFF;">Black</option>
                    <option value="Gray" style="background-color: Gray;">Gray</option>
                    <option value="White" style="background-color: White;">White</option>
                    <option value="Aquamarine" style="background-color: Aquamarine;">Aquamarine</option>
                    <option value="Blue" style="background-color: Blue;color: #FFFFFF;">Blue</option>
                    <option value="Purple" style="background-color: Purple;color: #FFFFFF;">Purple</option>
                    <option value="Pink" style="background-color: Pink;">Pink</option>
                    <option value="Green" style="background-color: Green;color: #FFFFFF;">Green</option>
                    <option value="Yellow" style="background-color: Yellow;">Yellow</option>
                    <option value="Orange" style="background-color: Orange;">Orange</option>
                    <option value="Red" style="background-color: Red;">Red</option>
                    <option value="Brown" style="background-color: Brown;">Brown</option>
                  </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/collection">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>

